.t-1,.t-2,.t-3,.t-4{
 text-align: center;
 padding: 10px;
}
.t-1{
       
        
        background-image: url('../img/bike/bike-header.jpg');
        background-position: center center;
        background-size: cover;
}
.t-2{
   
    
    background-image: url('../img/bike/bike-header.jpg');
    background-color: red;
    background-size: cover;
}
.t-3{
   
    
    background-image: url('../img/bike/bike-header.jpg');
    background-color: red;
    background-size: cover;
}
.t-4{
   
    
    background-image: url('../img/bike/bike-header.jpg');
    background-color: red;
    background-size: cover;
}