.service-wrap{
    overflow: hidden;
    border-radius: 5px;
    position: relative;

}
.t-1,.t-2,.t-3,.t-4{
 text-align: center;
 color: $bg-white;
 padding:10px;
 border-radius: 5px;
 transition: all 0.3s ease-in-out;


    h3{
        color: $bg-white;
        
    }
}
.t-1{
       
        
        background-image: url('../img/izleti/poludnevni-m.jpg');
        background-position: center center;
        background-color: grey;
        background-size: cover;
}
.t-1:hover{
    transform: scale(1.05);
    transition: left 0.3s ease-out, top 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, transform 5s ease-out 0.3s;
}
.t-2:hover{
    transform: scale(1.05);
    transition: left 0.3s ease-out, top 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, transform 5s ease-out 0.3s;
}
.t-3:hover{
    transform: scale(1.05);
    transition: left 0.3s ease-out, top 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, transform 5s ease-out 0.3s;
}
.t-4:hover{
    transform: scale(1.05);
    transition: left 0.3s ease-out, top 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, transform 5s ease-out 0.3s;
}
.t-2{
   
    
    background-image: url('../img/izleti/cjelodnevni-m.jpg');
    background-color: grey;
    background-size: cover;
}
.t-3{
   
    
    background-image: url('../img/izleti/urbana-m.jpg');
    background-color: grey;
    background-size: cover;
}
.t-4{
   
    
    background-image: url('../img/izleti/enduro-m.jpg');
    background-color: grey;
    background-size: cover;
}
