//colors
$primary:rgba(0,0,0,0.87);
$second:rgba(0,0,0,0.54);
$third:rgba(0,0,0,0.38);
$bg-grey-strong:#E0E0E0;
$main-blue:#03a9f5;
$light-blue:#bbd9ee;
$torkis-blue:#89e9f8;
$facebook-blue:#3b5998;
$main-orange:#ffab35;
$bg-grey-light:#F5F5F5;
$bg-grey-lighter:#FAFAFA;
$bg-white:#FFFFFF;
$blue-white-gradient:linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
$Vital-Ocean-gradinet:linear-gradient(90deg, #1CB5E0 0%, #000851 100%);