//colors
$primary: rgba(0, 0, 0, 0.87);
$second: rgba(0, 0, 0, 0.54);
$third: rgba(0, 0, 0, 0.38);
$bg-grey-strong: #e0e0e0;
$main-blue: #03a9f5;
$light-blue: #bbd9ee;
$torkis-blue: #89e9f8;
$facebook-blue: #3b5998;
$main-orange: #ff9671;
$main-purple: #845ec2;
$light-purple: #d65db1;
$torkis-light: #ff6f91;
$yellow-light: #ffc75f;
$leomn: #f9f871;
$bg-grey-light: #f5f5f5;
$bg-grey-lighter: #fafafa;
$bg-white: #ffffff;
$blue-white-gradient: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
$Vital-Ocean-gradinet: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
$orange-blue-lemon-gradient: linear-gradient(
  to right top,
  #845ec2,
  #756ed1,
  #647dde,
  #4f8be8,
  #3798ef,
  #00a8ef,
  #00b6e9,
  #00c2df,
  #1bcebf,
  #73d492,
  #bad26a,
  #ffc75f
);
